body {
	background-color:   #b7d7e8;
}
div.bordered > h1 {
	text-align:center;
}
h5 {
	text-align:center;
	margin-top:3em;
}
#counters {
	max-width:25%;
	margin:auto;
}
#newAnswerDiv {
	font-family: "Geneva";
	font-size: 2em;
	text-align: center;
	margin-top:1.5em;
	letter-spacing: 2px;
}
#wins, #losses {
	display: inline-block;
	text-align:center;
	float-right;
}
#guessedWrong, #warning {
	display:block;
	text-align:center;
	margin-top:1.5em;
	min-height: 5em;
}
#guessedWrong {
	max-width: 90%;
	margin:auto;
	border: dotted black 1px;
	font-size:1.5em;
}
.bordered{
	border: solid black 1px;
	min-height: 45em;
	min-width: 40%;
	background-color: white ;
	box-shadow: 10px 10px 5px #888888;
}
.warning-container {
	margin:2px;
	font-size: 1.5em;
}
